{% load staticfiles	%}

<!DOCTYPE html>
<html>

<head>
	<title>Pyladies - Luanda</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="{%	static 'css/blog.css' %}">
	<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet"type="text/css">
</head>

<body>

	<div class="page-header" align="center">
		<h1><a href="/">Pyladies - Luanda, Blog</a></h1>
	</div>

	<div class="content container">
		<div class="row">
			<div class="col-md-8">
      {% block  %}

      {% endblock %}
			</div>
		</div>
	</div>

</body>

</html>
