{% load staticfiles	%}

<!DOCTYPE html>
<html>

<head>
	<title>PyLadies - Luanda</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="{%	static 'css/blog.css' %}">
	<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet"type="text/css">
</head>

<body>

	<div class="page-header" align="center">
		<h1><a href="/">PyLadies - Luanda, blog</a></h1>
	</div>

	<div class="content container">
		<div class="row">
			<div class="col-md-8">
				{% for post in posts %}
					<div class="post">
						<h1><a href="">{{ post.title }}</a></h1>
						<p>{{ post.text|linebreaksbr }}</p>

						<div class="date">
							<p>published: {{ post.published_date }}</p>
						</div>
						
					</div>
				{% endfor %}
			</div>
		</div>
	</div>

</body>

</html>

<!--
	{% for post in posts %}
		<div class="post">
			<h3><a href="">{{ post.title  }}</a></h3>
			<p>{{ post.text|linebreaksbr }}</p>
			<p>published: {{ post.published_date }}</p>
		</div>
	{% endfor %}
-->
